<section>
    <nav style="font-size: 1.5em;margin:10px">
        <a href="/Admn/Home/Index"><img height="36px" src="/COntent/Images/newcustomer.png" />Create Customer</a>
        | 
        <a href="/Admn/SearchCustomer/Index"><img height="36px" src="/COntent/Images/search.png" />Search</a>
        | 
        <a href="/Admn/SearchCustomer/ShowTopTenCustomers"><img height="36px" src="/COntent/Images/topten.png" />Top 10 Customers</a>
        |
        <a href="/Admn/Invoice/ShowLastTenInvoices"><img height="36px" src="/COntent/Images/lastten.png" />Last 10 Invoices</a>
        |
        <a href="/Admn/Home/Signout"><img height="36px" src="/COntent/Images/signout.png" />Signout</a>
    </nav>
</section>
